Flask==3.0.3
flask-cors==4.0.1
firebase-admin==6.5.0
google-cloud-firestore==2.16.0
beautifulsoup4==4.12.3
requests==2.32.3
playwright==1.47.0
apscheduler==3.10.4
uuid==1.30
asyncio==3.4.3
gunicorn==22.0.0
greenlet==3.0.3

